.App {
  text-align: center;
}

.App-logo {
  position: relative;
  right: 500px;
  Width: 100%;
  height: auto
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Row {
  width: 100%; 
  height: 1000px; 
  top: 0; 
  left: 0;
}
